@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#content {
    max-width: 1600px; /*maximum width the page will be*/
    margin: 0 auto; /*0=top/bottom margin to 0; auto split marging between left and right */
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #1054A5;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #EF343F;
}

nav a:hover {
    background-color: white;
    color: #1054A5;
}

.book, .join {
    background-color: #62BCE2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #1054A5;
    color: white;
}

.msg {
    background-color: #EF343F;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: "Handlee", Arial, sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #EF343F;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer p {
    font-size: 1.2em;
}
s
footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #EF343F;
    font-family: "Handlee", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #EF343F;
}

main section img {
    box-sizing: border-box;
}