/*The selector is body and inside the curly braces are all the declarations, or property value pairs, that will affect that selector.*/
  /*This will center the body. Commented out for W04 block and inline example 2
  body {
    text-align: center;
  }*/

/*the background of the nav changed colors and a little bit of space, or padding, is added all around the links in the nav. Commented out due to two selectors with same values. see nav, footer
  nav {
    background-color: steelblue;
    padding: 10px;
  }
/*this declaration sets color and margin space*/
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em; /*this sets font to 1.5 x's default of 16px* for the header bar in this example*/
    padding: 25px;
  }

  /*pseudo class to change the background with the user hovers*/
  a:hover {
    background-color: white;
    color:steelblue;
  }

  h1 {
    text-align: center; /*centers all h1*/
    color: steelblue;
    margin: 50px 0;
  }

  img {
    /*width: 800px;*/
    width: 80%; /*displays image at 80% for all devices*/
    border: 4px solid steelblue;
    display: block;
    margin: 0 auto;
  }

  p {
    padding: 10px;
  }
  /*Commented out due to two selectors with same values. see nav, footer
  footer {
    background-color: steelblue;
    color: white;
  }*/

  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  #active {
    background-color: white;
    color: steelblue;
  }
  /*the following puts a border around every element so we can see them*/
  /* {
    border: 2px solid blue;
} */

/*this centers the nav and footer*/
  nav {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}

  footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }

/*center the paragrah container, that's inside main.*/
main p {
  width: 80%;
  /*margin: 0 auto;*/
  margin: 50px auto; /*adding more margin to top and bottom of paragraph. Increase the 0 and add a pixel size*/
  text-align: center;
}

/*selector with the parent element first and then the child, or descendant next. The parent is the footer and the child is the paragraph in the foooter*/
footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}

body {
  margin: 0;
}