.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1;*/
    max-width: 1200px;
}

#background {
    background-color: lightgray;
    grid-column: 2/3;
    width: 600px;
    z-index: 0;
    grid-row: 1;
}

img {
    grid-column: 1/2;
    height: 600px;
    width: 600px;
    justify-self: center;
    grid-row: 1;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    margin-top: 45px;
}   

#cherries {
    grid-column: 2/3;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    justify-self: center;
    font-size: 100px;
    margin-top: -200px;
    z-index: 1;
}