/** {
    border: 2px solid blue;
}*/
body {
    background-color: pink;
}

h1 {
    text-align: center;
    color: white;
}  

h1:hover {
    color: black;
}

main p {
    text-align: center;
    color: white;
}

ol li {
    text-align: left;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}   

h2 {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

footer p {
    text-align: center;
}