
body {
    background-color: pink;
}

h1 {
    text-align: center;
    color: white;
}   

main p {
    text-align: center;
}

ol li {
    text-align: center;
    list-style-position: inside;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}   

h2 {
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}