
#content {
    max-width: 1600px;
}

body {
    margin: 0;
    padding: 0;
}

#background {
    background-color: gray;
    margin-top: -5px;
}

img {
    height: 20%;
    width: 20%;
    box-sizing: border-box;
}
.rounded {
    border-radius: 50%;
    margin: 75px 90px;
    border: 15px solid black;
    /*display: inline-block;*/
}

#circles {
    width: 100%;
    margin-bottom: 0;
}