@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#content {
    max-width: 1600px; /*maximum width the page will be*/
    margin: 0 auto; /*0=top/bottom margin to 0; auto split marging between left and right */
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #1054A5;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #EF343F;
}

nav a:hover {
    background-color: white;
    color: #1054A5;
}

.book, .join {
    background-color: #62BCE2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #1054A5;
    color: white;
}

.msg {
    background-color: #EF343F;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #62BCE2; 
}

.msg h2 {
    color: black;
    font-family: "Handlee", Arial, sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #EF343F;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #EF343F;
    font-family: "Handlee", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #EF343F;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #62BCE2;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #62BCE2;
}
nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/*This is for rivers page*/

#river-img {
    width: 100%;
    height: auto;
}
  
.page-title {
    text-align: center;
    padding: 40px;
}

.rivers-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
}

.rivers-img {
    width: 90%;
    box-shadow: 15px 15px #1054A5;
    border-radius: 20px;
}

#idaho-img {
    grid-column: 1/4;
    margin-left: 10%;
}

#idaho-msg {
    grid-column: 4/11;
    padding: 30px;
    margin-right: 5%;
}

#utah-img {
    grid-row: 2/3;
    grid-column: 8/11;
    margin-right: 10%;
}

#utah-msg {
    grid-column: 1/8;
    padding: 30px;
    margin-left: 5%;
    
}

#arizona-img {
    grid-column: 1/4;
    margin-left: 10%;
}

#arizona-msg {
    grid-column: 4/11;
    padding: 30px;
    margin-right: 5%;
}


/*this is @media query. DO NOT add anything after.
This could be read as follows: "If the max width of the screen gets smaller than 900px, then use this CSS instead of what you may have seen above" for these selectors.
This CSS will not go into effect unless the screen is less than 900px;*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}